<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqf.study.dao.PersonDao">
	<select id="findById" resultType="Person" parameterType="Long">
		select id,name,age,email,dbSource from person where id=#{id};
	</select>
	<select id="findAll" resultType="Person">
		select id,name,age,email,dbSource from person;
	</select>
	<insert id="addPerson" parameterType="Person">
		INSERT INTO person(name,age,email,dbSource) VALUES(#{name},#{age},#{email},DATABASE());
	</insert>
</mapper>
 

